@{
    ViewBag.Title = "Index";
}

@model IEnumerable<AutoFacService.User>

<div class="row">
    <div class="col-md-4">
        <h2>
            @foreach (var i in Model)
            {
                <a>@i.Name @i.Surname</a>
            }
        </h2>

    </div>

</div>